:root {
	--font-weight: 500;
	--gradient-dir1: to top right;
	--gradient-dir2: to bottom left;
	--gradient-dir3: to right top;
	--gradient-dir4: to left bottom;
	--gradient-dir5: to top left;
	--tab-rounded-size: 3px;
}

.windows,
.name,
.title {
	font-family: "SF Pro Rounded", sans-serif;
}

.windows {
	font-weight: var(--font-weight);
}

.mtk1 {
	color: #b0beff;
}

.mtk3 {
	font-weight: var(--font-weight);
	color: transparent;
	background-image: linear-gradient(245deg, #fdb99b 0.67%, #fb6fff00 30.1%),
		linear-gradient(66.56deg, #cf8bf3 0.07%, #ff65f2 82.88%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}

.mtk5 {
	font-weight: var(--font-weight);
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir3),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	background-clip: text;
	text-shadow: 0px 0px 5px rgba(163, 222, 107, 0.2);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}

.mtk7,
.mtk14 {
	font-weight: 600;
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
	background-image: linear-gradient(215deg, #ff837a 0.67%, #fb6fff00 30.1%),
		linear-gradient(66.56deg, #ffb889 17.22%, #ff9f8c 62.88%);
}

.mtk9,
.mtk17 {
	font-weight: var(--font-weight);
	color: transparent;
	background-image: linear-gradient(to bottom, #00fdff, #2979ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}

.mtk10,
.mtk15 {
	font-weight: var(--font-weight);
	color: transparent;
	background-image: linear-gradient(to bottom, #fc806c, #ff1bd1);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: auto;
}

.mtk16 {
	font-weight: var(--font-weight);
	color: transparent;
	background-image: linear-gradient(to bottom, #d66efd 50%, #6a5af9);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}

.mtk17.mtki {
	text-shadow: 0px 0px 4px rgba(100, 193, 255, 0.3);
}

.mtk18 {
	font-weight: var(--font-weight);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
	background-image: linear-gradient(215deg, #fedeff 0.67%, #fb6fff00 30.1%),
		linear-gradient(66.56deg, #7992ff 17.22%, #a3b4ff 62.88%);
}

.mtki {
	font-style: normal;
}

/** Others */

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}
.monaco-workbench
	.activitybar

	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}

.statusbar-item.left.has-background-color.first-visible-item a > span {
	font-weight: 600 !important;
}
.statusbar-item.left.has-background-color.first-visible-item a {
	font-weight: 500 !important;
	color: black !important;
	margin-top: 1px;
	margin-right: 2px;
}

.squiggly-inline-unnecessary {
	opacity: 0.5;
}

.cursors-layer .cursor {
	background-image: linear-gradient(
		245deg,
		#407cff,
		#da8bff 60%,
		#ff79d0 93%
	) !important;
	border-radius: 100px;
}

.line-numbers.active-line-number {
	font-weight: 600;
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir3),
		#a540a2,
		#ff64a5,
		#fdaa9b
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 4px rgb(253, 170, 155, 0.6);
}

/* Activity Bar */

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		#407cff,
		#da8bff 60%,
		#ff79d0 93%
	);
	border-radius: 12px;
}

/** Active Tab */
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container {
	padding: 4px;
	column-gap: 4px;
}

.tab {
  overflow: hidden;
	box-shadow: inset 0 0px 3px rgba(164, 143, 255, 0.35);
}
.tab.active {
  border-radius: var(--tab-rounded-size) !important;
	box-shadow: inset 0 1px 1px 0 rgba(199, 211, 234, 0.12),
    inset 0 24px 48px 0 rgba(199, 211, 234, 0.05),
    0 24px 32px 0 rgba(6, 6, 14, 0.7);
}

.tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active .tab-label {
  position: relative;
}
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active:before {
  content: "";
  position: absolute;
  background: #151625;
  top: 50%;
  left: 50%;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border-radius: inherit;
  transform: translate(-50.1%, -50.1%);
  border-radius: inherit;
}
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit.active {
  background-image: linear-gradient(
    45deg,
    #fcb564,
    #ff65f2,
    #d66efd,
    #6a5af9,
    #2cccff,
    #20e3b2
  );
}
/* hide border top */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container {
  display: none !important;
}


/* END */

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.editor-actions {
	outline: unset !important;
	height: unset !important;
}

/* Scrollbar */
.editor-container .monaco-scrollable-element > .scrollbar.vertical > .slider {
	background-image: linear-gradient(
		to bottom,
		#407cff,
		#da8bff 60%,
		#ff79d0 93%
	);
	width: 4px !important;
	border-radius: 8px;
}

